<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/index.css">
        <title>Summer Helados</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,100;1,300;1,400;1,500;1,600;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <main id="header">
            <header>
                <nav class="navegador">
                    <img class="logo" src="../img/summer-logo.png" alt="summer-logo">
                    <ul class="menu-principal">
                        <li>
                            <a class="menu-principal__link menu-principal__link__activo" href="../index.html">Home</a>
                            </li>
                            <li>
                                <a class="menu-principal__link" href="./sobrenosotros.html">Sobre Nosotros</a>
                            </li>
                            <li>
                                <a class="menu-principal__link link-active" href="./productos.html">Productos</a>
                            </li>
                            <li>
                                <a class="menu-principal__link" href="./sucursales.html">Sucursales</a>
                            </li>
                            <li>
                                <a class="menu-principal__link" href="./contacto.html">Contacto</a>
                            </li>
                        </ul>
                </nav>
                <section class="productos">
                    <!-- <img src="../img/sobrenosotros-header.jpg" alt=""> -->
                    <h2 class="titulo-productos">Sabores únicos</h2>
                </section>
            </header>
        </main>
        <article class="subtitulo-productos">
            <h3>Nuestros Productos</h3>
                <ul class="subtitulo-producto__items">
                    <li>
                        <p>Helados</p>
                        <img class="subtitulo-producto__items__img" src="../img/conito.jpg" alt="imagen-conito">
                    </li>
                    <li>
                        <p>Ice Pops</p>
                        <img class="subtitulo-producto__items__img" src="../img/icepops.jpg" alt="imagen-icepops">
                    </li>
                    <li>
                        <p>Tortas Heladas</p>
                        <img class="subtitulo-producto__items__img" src="../img/torta-helada.jpg" alt="imagen-torta-helada">
                    </li>
                    <li>
                        <p>Capelinas</p>
                        <img class="subtitulo-producto__items__img" src="../img/caperina.jpg" alt="imagen-caperina">
                    </li>
                    <li>
                        <p>Milkshakes</p>
                        <img class="subtitulo-producto__items__img" src="../img/milkshake.jpg" alt="imagen-milkshake">
                    </li>
                </ul>
        </article>
        <main id="footer">
            <footer>
                <ul>
                    <li>Seguinos en Facebook o Instagram</li>
                    <li>Trabaja con nosotros</li>
                    <li>Contactanos</li>
                </ul>
            </footer>
        </main>
    </body>
</html>