<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Helados, heladería, postres, sabores, verano">
    <meta name="keywords"  content="helados, postres, sabores, gustos, tortas">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,100;1,300;1,400;1,500;1,600;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/translated.css">
    <title>Summer Helados | Sobre Nosotros</title>
</head>

<body>
    <div id="header">
        <header>
            <nav class="navegador">
                <img class="logo" src="../img/summer-logo.png" alt="summer-logo">
                <ul class="menu-principal">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li>
                        <a class="menu-principal__link__active" href="">Sobre Nosotros</a>
                    </li>
                    <li>
                        <a class="menu-principal__link" href="./productos.html">Productos</a>
                    </li>
                    <li>
                        <a class="menu-principal__link" href="./sucursales.html">Sucursales</a>
                    </li>
                    <li>
                        <a class="menu-principal__link" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
            <section class="sobre-nosotros formato-header">
                <h2 class="titulo">Alegrando desde 1984</h2>
            </section>
        </header>
    </div>
    <main>
        <article class="subtitulo-nosotros-grid">
            <div class="nosotros-parrafo">
                <h2>Elaboración artesanal</h2>
                    <p class="small">Elaboramos nuestros productos como realizados en casa con materias primas de
                        primera calidad, frutas
                        naturales, sin saborizantes ni colorantes. trabajamos para transmitir nuestra pasión por el
                        helado. 
                        Desde nuestros comienzos el camino a seguir tuvo como premisa cuidar la calidad, reconociendo también en la creatividad y la evolución dos pilares fundamentales para innovar y sorprender a quienes día a día nos elijen.
                        Materias primas de primera calidad, frutas naturales, sin saborizantes ni colorantes. trabajamos para transmitir nuestra pasión por el helado.
                        Date el gusto de ser feliz!
                    </p>
            </div>
            <div class="nosotros-img">
                <img src="../img/cucuruchos.jpg" alt="imagen-cucuruchos">
            </div>
        </article>
        <div class="linea">
        </div>
        <article>
            <div class="titulos-seccion">
                <h4>Nuestra Historia</h4>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Fundada por nuestros abuelos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias provident excepturi rem
                            quibusdam maxime illum et beatae, voluptate laborum cupiditate non assumenda doloribus soluta,
                            ex ipsa dolorem! Animi, quisquam omnis?</p>
                    </div>
                    <div class="col">
                        <h3>Desde Caballito a todo el paìs</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias provident excepturi rem
                            quibusdam maxime illum et beatae, voluptate laborum cupiditate non assumenda doloribus soluta,
                            ex ipsa dolorem! Animi, quisquam omnis?</p>
                    </div>
                    <div class="col">
                        <h3>Seguimos expandiendonos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias provident excepturi rem
                            quibusdam maxime illum et beatae, voluptate laborum cupiditate non assumenda doloribus soluta,
                            ex ipsa dolorem! Animi, quisquam omnis?</p>
                    </div>
                </div>
            </div>
        </article> 
    </main>
    <div id="footer">
        <footer>
            <ul>
                <li class="facebook">Seguinos en Facebook</li>
                <li class="instagram">Seguinos en Instagram</li>
                <li class="twitter">Seguinos en Twitter</li>
                <li>Trabaja con nosotros</li>
                <li>Contactanos</li>
            </ul>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>