/*SCSS Contacto*/

.contacto {
    @extend .formato-header;
    background: url("../img/contactanos.jpg");
    background-size: 100%;
    background-position: 0 -1200px;
    margin: 0;

    /*Acá me cambio el tamaño de la imagen y la posición en la q estaba*/

    .titulo {
        @include tipografía-titulos;
        padding: 0px;
    }

    .titulo h2 {
        padding-top: 200px;
    }
}

.formulario-caja {
    width: 80%;
    margin: 50px;
}