/*SCSS Productos*/

.productos {
    @extend .formato-header;
    background: url("../img/productos.jpg");
    background-size: 100%;
    background-position: 0 -800px;
   

    .titulo {
        @include tipografía-titulos;
    }
}


.card-productos {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
    border-color: 1px black;

    .card-body {
        justify-content: flex-start;
        margin-top: 40px;
    }

    .btn {
        background-color: #E3655C;
        border: #E3655C;
    }


}

