/*SCSS Productos*/

.productos {
    background: url("../img/productos.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -800px;
    margin-top: 50px;             
}
