/*SCSS Nosotros*/

.sobre-nosotros {
    @extend .formato-header;
    background: url("../img/sobrenosotros-header.jpg");
    background-size: 100%;
    // height: 400px;
    // background-size: cover;
    // background-repeat: no-repeat;
    background-position: 0 -400px;
    // margin-top: 50px;

    .titulo {
        @include tipografía-titulos;
    }
}

.subtitulo-nosotros-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 0px;
    margin-left: 10rem;
    padding-top: 200px;
    margin-bottom: 100px;

    
    .nosotros-parrafo h2 {
        font-size: 25px;
        text-decoration: underline #E3655C;
        margin-bottom: 50px;
    }
    
    .nosotros-img {
        width: 40rem;
    }

    .small {
        font-size: 15px;                
    }
    
}

.linea {
    background-color: black;
    height: 1px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 95%;

    // .col {
    //     // width: 100px;
    //     // padding: 50px;
    // }

    .col p {
        font-size: small;
    }

    .col h3 {
        text-decoration: dashed, #E3655C;
    }
}