@mixin tipografía-titulos {

        font-size: 60px;
        text-align: center;
        color: white;
        padding: 150px;
        align-items: flex-start;
    }

    .formato-header {
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
    }

