@mixin tipografía-titulos {

        font-size: 60px;
        text-align: center;
        color: white;
        padding: 150px;
        align-items: flex-start;
    }

    .contacto {
        background: url("../img/contactanos.jpg");
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 -1000px;
        margin-top: 50px;

        .productos {
            background: url("../img/productos.jpg");
            height: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 -800px;
            margin-top: 50px; 

            .sobre-nosotros {
                background: url("../img/sobrenosotros-header.jpg");
                height: 400px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 0 -550px;
                margin-top: 50px;

                .sucursales {
                    background: url("../img/sucursales.jpg");
                    height: 400px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 0 -300px;
                    margin-top: 50px;