/* Normalize */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
 }

 html { /* etiqueta raíz */
    font-size: 80%;
    font-family: 'poppins';
 }


 body{
    background-color:  #ffffff;
    font-family: 'poppins';
 }

ol, ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
    padding: 50px;
}

a {
    text-decoration: none;
    color: #191919;
    padding: 10px;
}

img {
    width: 100%;
}

h2 {
    font-weight:800;
}

h4 {
    font-weight: 800;
    font-size: 2rem;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #E3655C;
}

a:active {
    background-color: #E0CFB9;
    padding: 10px;
}

p {
    margin-top: 20px;
}
